AI Knowledge Base Assistant with Document Summarization and Keyword Extraction.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "8b663e94-0f75-4589-95d9-092bd1d8c85f",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -18496,
        4256
      ],
      "webhookId": "56c1f078-b696-4a23-8436-7d85f976fb61",
      "credentials": {
        "telegramApi": {
          "id": "adywhOV1x3QTTFBh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "supportedFormats",
              "value": "PDF, DOCX, TXT, MD",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "882c54e2-c676-4de6-a8d4-4a33c0beb71b",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -18272,
        4256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.document }}",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-3",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
              "rightValue": "word",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "id-4",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "5a33d215-71bf-4ecf-9113-0c4e4a07a9e8",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
              "rightValue": "markdown",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "996fdc02-60db-4a79-af03-8a94e09add64",
      "name": "Check File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -17824,
        4352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI assistant that analyzes documents for a knowledge base system.\n\nYour task is to:\n1. Read and understand the document content \n2. Create a brief summary of the key points (3-7 sentences)\n3. Extract 5-10 relevant keywords\n\nReturn your analysis in the structured JSON format defined by the output parser. Answer in Russian."
        }
      },
      "id": "bbcd423d-be82-4a0f-817c-52b744a84d5b",
      "name": "AI Summarization and Keyword Extraction",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -16768,
        4352
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"summary\": \"A brief summary of the document content\",\n\t\"keywords\": [\"keyword1\", \"keyword2\", \"keyword3\"]\n}"
      },
      "id": "498fe4af-04d7-49f8-a1b7-7441c8306583",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -16624,
        4560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "uploader",
              "value": "={{ $('Telegram Trigger').item.json.message.from.username || $('Telegram Trigger').item.json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "file_name",
              "value": "={{ $('Telegram Trigger').item.json.message.document.file_name }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "summary",
              "value": "={{ $json.output.summary }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "keywords",
              "value": "={{ $json.output.keywords.join(', ') }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "notes",
              "value": "=Size: {{ ($('Telegram Trigger').item.json.message.document.file_size / 1024).toFixed(2) }} KB, Type: {{ $('Telegram Trigger').item.json.message.document.mime_type }}, Language: {{ $('Telegram Trigger').item.json.message.from.language_code }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ddebdb72-a709-4987-b78d-0be0f212c13a",
      "name": "Prepare Google Sheets Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16416,
        4352
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1rmAFXG7t1g2rhVD9JHKCshro7yc8u_VOCFDYFoLHVH0/edit?usp=sharing",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1rmAFXG7t1g2rhVD9JHKCshro7yc8u_VOCFDYFoLHVH0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "uploader",
              "displayName": "uploader",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "77738d8e-35de-4142-8672-1c2ec9dcf089",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16192,
        4352
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cMCHpMUtrhCnbztE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ Документ успешно обработан!\n\nФайл: {{ $('Telegram Trigger').item.json.message.document.file_name }}\n\nКраткое описание: {{ $('Prepare Google Sheets Data').item.json.summary }}\n\nКлючевые слова: {{ $('Prepare Google Sheets Data').item.json.keywords }}",
        "additionalFields": {}
      },
      "id": "58855bfc-016f-4175-83ad-def8f8dd531e",
      "name": "Send Confirmation to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -15968,
        4352
      ],
      "webhookId": "f69b5736-ee0b-4353-b22e-a78fefd7427b",
      "credentials": {
        "telegramApi": {
          "id": "adywhOV1x3QTTFBh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ Sorry, this file format is not supported. Please send a PDF, DOCX or TXT, file.",
        "additionalFields": {}
      },
      "id": "da620bd7-ac3b-4ed5-912d-539acdcb9a68",
      "name": "Send Error Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -17712,
        4592
      ],
      "webhookId": "df85ada3-7d21-468a-9293-09df778519a8",
      "credentials": {
        "telegramApi": {
          "id": "adywhOV1x3QTTFBh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🔄 Началась обработка документа",
        "additionalFields": {}
      },
      "id": "9827fb21-ca9e-41c7-a20f-062492f8bbfd",
      "name": "Send Confirmation to Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -17648,
        4192
      ],
      "webhookId": "f69b5736-ee0b-4353-b22e-a78fefd7427b",
      "credentials": {
        "telegramApi": {
          "id": "adywhOV1x3QTTFBh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Workflow Configuration').item.json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5f4a06f3-11fe-4270-93cf-eb140d8bf1c7",
      "name": "Check for /start Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -18048,
        4256
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "👋 Привет! Я бот для анализа документов.\n📄 Отправьте мне документ (PDF, DOCX или TXT ), и я:\n✅ Создам краткое резюме содержания\n🔑 Извлеку ключевые слова\n💾 Сохраню результаты в Google Sheets\nПросто отправьте файл, и я начну обработку!",
        "additionalFields": {}
      },
      "id": "bdac503b-716e-453e-a74f-94f51d77edc4",
      "name": "Send Welcome Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -17792,
        4016
      ],
      "webhookId": "93e15b75-dfc7-4bfe-8051-891b8aad8bd1",
      "credentials": {
        "telegramApi": {
          "id": "adywhOV1x3QTTFBh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "d327b541-b443-4e19-a3c0-92363a07bfaf",
      "name": "Check if PDF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -17648,
        4368
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "9a5a1b9a-3344-434a-bd83-d04a4b7c48f7",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -17008,
        4256
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "68a2d2c4-280e-4b04-a342-22076f6bdde9",
      "name": "Extract DOCX/TXT Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -16960,
        4576
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16768,
        4560
      ],
      "id": "c5dac11e-ec9b-4d9e-975d-c07380f0280f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "42Y2136BptmdhtUL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
              "rightValue": "word",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "189e5433-9a77-4e04-845c-f0d1a401649a",
      "name": "Check if WORD",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -17488,
        4480
      ]
    },
    {
      "parameters": {
        "resource": "extract",
        "operation": "Extract Text From Word",
        "endPageNumber": 1000,
        "extractionOptions": {},
        "advancedOptions": {}
      },
      "type": "n8n-nodes-pdf4me.PDF4me",
      "typeVersion": 1,
      "position": [
        -17168,
        4416
      ],
      "id": "6ccb3195-7a66-4556-92a0-e2eef4886a23",
      "name": "Extract text from word",
      "credentials": {
        "pdf4meApi": {
          "id": "6pC2fW9q7V5el8i3",
          "name": "PDF4ME account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Check for /start Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Type": {
      "main": [
        [
          {
            "node": "Send Confirmation to Telegram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check if PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarization and Keyword Extraction": {
      "main": [
        [
          {
            "node": "Prepare Google Sheets Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Summarization and Keyword Extraction",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Google Sheets Data": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Confirmation to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for /start Command": {
      "main": [
        [
          {
            "node": "Send Welcome Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if PDF": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if WORD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "AI Summarization and Keyword Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract DOCX/TXT Text": {
      "main": [
        [
          {
            "node": "AI Summarization and Keyword Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarization and Keyword Extraction",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check if WORD": {
      "main": [
        [
          {
            "node": "Extract text from word",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract DOCX/TXT Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from word": {
      "main": [
        [
          {
            "node": "AI Summarization and Keyword Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21a1e36229456668d85761148da09ed60f6596c12652168d255bafb5b3f34431"
  }
}
